*{
    font-family: 'Lobter',cursive;
    font-weight: 100;
    font-size: 20px;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}


.flex-item{
    background-color:#248;
    color:#fff;
    margin: 5px;
    height: 120px;    
    min-width: 120px;
    text-align: center;
}

._5{
  background:green;
  align-self: flex-end;  
}