:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --gris: #757575;
    --color1:rgba(1, 222, 13, 0.9)
}

*{
    font-family: 'Lobter',cursive;
}

html{
    font-size: 62.5%;
}

body{    
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(255,183,0,1) 100%) fixed;
}

section:nth-child(1){
    background-color: var(--oscuro);
    text-align: center;
    padding: 1rem;
    margin-top: -1.5rem;
}

h1{
    color: var(--blanco);
    font-size: 3rem;
}

.contenedor{
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin: 10rem;
}

.contenedor input{
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border: none;
    background-color: var(--blanco);
    width: 10rem;
    height: 3rem;
    cursor:pointer;
}

